body{
    text-align: center;
    background-image: url("Images/java.jpg");ck
    color: aqua;








}
button{
    background-color:black ;
    color: aqua;
    border: aqua 2px solid;
    border-radius: 4px;





}
